body {
	margin: 0;
	font: 16px "Helvetica Neue";
}

.header {
	z-index: 1;
	font: 300 36px "Helvetica Neue";
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 10px;
}

rect {
	fill: none;
	pointer-events: all;
}

pre {
	font-size: 18px;
}

.border-selected {
	stroke: black;
  stroke-width: 5px;
	
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1.5px;
}

.paper {
	border: 3px solid lightgray;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
}

.details-off {
	display: none;
}

.details-on {
	border: 3px solid lightgray;
	border-radius: 10px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 3px;
	background-color: #666666;
	color: yellow;
	height: 200px;
	font-family: monospace;
	font-size: 12px;
	font-weight: bold;
	z-index: 2;
}

.file-name {
	font-weight: bold;
}
.file-path {
	color: gray;
	font-size: smaller;
}

.config-item {
	cursor: pointer;
	list-style-type: none;
	margin-right: 50px;
}

.config-item:HOVER {
	background: lightgray;
}
#config-list {
	position: absolute;
	top: 300px;
	left: 400px;
	background: white;
	border: 3px solid lightgray;
	border-radius: 10px;
}
